@import "variables";


/******************
    ICONS
*******************/


.middle div:nth-child(odd) h3 {
   color: $themeLightBlue;
 }

.middle div:nth-child(even) h3 {
  color: $themeDefaultColor;
}


/******************
    MIDDLE
*******************/

.middle {
  padding: 0 30px;
}

.middle div {
  text-align: center;
}

.middle div p {
  color: #8A8A8A;
}