footer {
  width: 100%;
  background: #313131;
  padding: 20px;

  .container {
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      font-weight: 100;

      @media screen and (max-width: 900px) {
        width: 50%;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
        margin-bottom: 30px;
      }

      h3 {
        font-weight: 100;
        color: #fff;
        font-size: 18px;

        &::after {
          display: block;
          content: '';
          @include size(30px, 3px);
          background: $themeLightBlue;
          margin-top: 10px;
        }
      }

      a {
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;

        span {
          color: $themeDefaultColor;
        }
      }

      ul {
        padding: 0;

        li {
          font-size: 14px;
          color: #fff;
          margin-bottom: 7px;

          &::before {
            margin-right: 8px;
            content: "";
            display: inline-block;
            @include triangle('right', 8px, 8px, #fff);
            opacity: .5;
          }
        }
      }

      p {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}