/********************
       COLORS
********************/

$themeDefaultColor:     #2BC0D8;
$themeLightBlue:        #2CA6D9;
$hamburgerBorderColor:  #DDDDDD;
$titlePoliklinikaColor: #595959;
$fontelloIconsColor:    #2cbfd9;

